---
layout: default
---

<div class="row">
  <div class="col-md-4 col-12 mb-3 image-container">
    <img src="{{ site.url }}/assets/img/provincial.jpg" alt="Home" width="90%">
  </div>

  <div class="col-md-8 col-12">
    <!-- <h3 class="fw-bold">Research</h3> -->
    {{ content }}
  </div>
</div>

<style>
/* Ensure there is enough space between image and text on smaller screens */
.image-container {
    text-align: center;
    margin-bottom: 20px; /* Add space below image on smaller screens */
}

@media (max-width: 768px) {
    .image-container img {
        width: 75%; /* Make the image take full width on smaller screens */
    }
}
</style>
